.main {
    -fx-background-color: #ffffff;

}

.avatar{
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-padding: 10;
    -fx-background-color: firebrick;
}

.erro-class {
    -fx-background-color:  red;
}

.field-round-white {
    -fx-font-family: "Archivo";
    -fx-background-color: rgb(255, 255, 255);
    -fx-border-color: rgb(140, 140, 140);
    -fx-border-radius: 10px;

}

.btn-rec-white {

    -fx-background-color: rgb(255, 255, 255);
    -fx-border-color: rgb(140, 140, 140);
    -fx-border-radius: 10px;
}

.btn-rec-white:hover{
    -fx-background-color: rgb(225, 228, 234);
    -fx-border-color: rgb(140, 140, 140);
    -fx-border-radius: 10px;
}

.btn-rec-white:pressed{
    -fx-background-radius: 1000px;
    -fx-background-color: rgb(225, 228, 234);
    -fx-border-color: rgb(140, 140, 140);
    -fx-border-radius: 10px;
}

.btn-clear-white {

    -fx-background-color: rgb(255, 255, 255);
}

.btn-clear-white:hover{
    -fx-background-radius: 1000px;
    -fx-background-color: rgb(225, 228, 234);
}

.btn-clear-white:pressed{
    -fx-background-radius: 1000px;
    -fx-background-color: rgb(225, 228, 234);
}

.btn-round-white {
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 1000px;
    -fx-border-color: rgb(140, 140, 140);
    -fx-border-radius: 1000px;
}

.btn-round-blue {
    -fx-background-color: rgb(40, 126, 255);
    -fx-background-radius: 1000px;
}

.btn-rec-non-press-white {

    -fx-background-color: rgb(255, 255, 255);
    -fx-border-color: rgb(140, 140, 140);
    -fx-border-radius: 10px;
}

.btn-rec-non-press-white:hover{
    -fx-background-color: rgb(225, 228, 234);
    -fx-border-color: rgb(140, 140, 140);
    -fx-border-radius: 10px;
}